<div ng-hide="status.user.admin">
  <p>You are not an admin</p>
</div>
<div ng-show="status.user.admin">
  <a href="/admin/votes">Extra Votes</a>
  <div class="round-start" ng-show="!round.current || round.current.state === 'closed'">
    <label for="genre">Genre</label>
    <input id="genre" type="text" ng-model="genre" placeholder="Enter Genre" />
    <button ng-click="newRound()" class="btn btn-primary">Start round</button>
  </div>
  <div ng-show="round.current.state === 'nominating'">
    <button ng-click="progressRound()" class="btn btn-primary">Start Seconding</button>
  </div>
  <div ng-show="round.current.state === 'seconding'">
    <button ng-click="progressRound()" class="btn btn-primary">Close seconding</button>
  </div>
  <div ng-show="round.current.state === 'reading'">
    <button ng-click="progressRound()" class="btn btn-primary">Close the round</button>
  </div>
  <pre>{{ round.current | json }}</pre>
</div>
