<div id="nominations">
    <div id="header" class="page-header">
        <h1>Nominations <small>Genre: {{ round.current.genre }}</small></h1>
    </div>

    <div id="nominate" class="group">
        <div class="group search-container">
            <div class="step">1</div>
            <div id="searchContainer" class="search-wrap group" ng-show="status.member()">
                <h3>Search for books to nominate</h3>
                <p>Search and select as many books as you like. You will be able to choose up to three of those books to nominate for the club to read.</p>
                <div id="searchAndResults">
                    <div id="searchWrapper" class="group" >
                        <label class="search-label" for="search">Search for a book</label>
                        <div class="form-and-results-wrap">
                            <form autocomplete="off">
                                <input name="search" id="search" ng-model="query" ng-change="onChange()" placeholder="Type in a book name...">
                            </form>
                            <div class="search-results" id="searchResults" ng-show="search.results.books.length > 0">
                                <ul ng-hide="search.loading">
                                    <li ng-click="select(book)" ng-repeat="book in search.results.books"><img ng-src="{{book.image}}" alt="{{book.title}}" />
                                        <span class="book-title">{{book.title}}</span>
                                        <span class="book-author">by {{book.author}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="missing" ng-hide="search.loaded && search.results.books.length === 0">Book covers missing? <span tooltip="The GoodReads API does not have permission to redistribute some images, so those books will use a placeholder image even if the image shows up on GoodReads." class="fa fa-question-circle help"></span></p>
                        <p class="no-results" ng-show="search.loaded && search.results.books.length === 0">No results. Try searching again!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="myNominations" class="my-nominations" ng-show="round.current.selections.length || round.current.my_nominations.length">
            <div class="step">2</div>
            <div class="nominations-wrap valid">
                <h3>Nominate up to 3 of your selections</h3>
                <p>Choose up to three of your selections to nominate for the club to read. Nominations will close one week after they open (usually on a Tuesday), and then everyone will be able to vote for books out of the pool of nominations!</p>
                <div class="alert alert-info" ng-show="round.current.my_nominations.length &lt; 3 && !(round.current.my_nominations.length === 0)"><p>You've chosen <strong>{{ round.current.my_nominations.length }}/3</strong> of your available nominations.</p></div>
                <div class="alert alert-info" ng-show="round.current.my_nominations.length &gt;= 3"><p>You've used <strong>{{ round.current.my_nominations.length }}/3</strong> of your available nominations. Come back on Tuesday to start seconding books!</p></div>
                <div class="alert alert-danger" ng-show="nominationError"><p><strong>Error:</strong> {{ nominationError }}</p></div>
                <ul class="nominations my-selections valid group">
                    <li ng-repeat="nomination in round.current.my_nominations | orderBy: 'created_at'">
                        <a class="remove-nomination fa fa-lock" title="This Nomination is Locked"></a>
                        <div class="book">
                            <a href="{{ nomination.book.url }}" tooltip="{{ nomination.book.title }}">
                                <img ng-src="{{ nomination.book.image }}" alt="{{ nomination.book.title }}" title="{{ nomination.book.title }}" />
                            </a>
                            <span class="book-title">{{ nomination.book.title }}</span>
                            <button class="btn btn-primary">Nominated</button>
                        </div>
                    </li>
                    <li ng-repeat="selection in round.current.selections | orderBy: 'created_at'">
                        <a class="remove-nomination fa fa-close" ng-click="remove(selection.id)" title="Delete from Nominations"></a>
                        <div class="book">
                            <a href="{{ selection.book.url }}" tooltip="{{ selection.book.title }}">
                                <img src="{{ selection.book.image }}" alt="{{ selection.book.title }}" title="{{ selection.book.title }}" />
                            </a>
                            <span class="book-title">{{ selection.book.title }}</span>
                            <button ng-show="round.current.my_nominations.length &lt; 3" class="btn btn-default" ng-click="nominate(selection.book)">Nominate</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="all-nominations group" ng-show="round.current.nominations.length">
        <h3>All Nominations</h3>
        <p>These are the books that have already been nominated! <span ng-show="status.member()">Come back on Tuesday to second votes for the books you want to read!</span></p>

        <ul class="nominations">
            <li ng-repeat="nomination in round.current.nominations | orderBy: 'created_at'">
                <div class="book">
                    <a href="{{ nomination.book.url }}" tooltip="{{ nomination.book.title }}">
                        <img ng-src="{{ nomination.book.image }}" alt="{{ nomination.book.title }}" title="{{ nomination.book.title }}" />
                    </a>
                    <span class="book-title">{{ nomination.book.title }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
