<div id="header" class="page-header">
  <h1>Seconding <small>Genre: {{ round.current.genre }}</small></h1>
</div>
<div class="row">
<div id="results" class="col-lg-6 col-lg-push-6">
  <p>The seconding phase will last for one week (Tuesday-Tuesday), at which point the two books with the most votes will be chosen as our reads for the current genre! Tie-breakers are decided by the average rating on GoodReads.</p>
  <p><strong>Here are the current standings:</strong></p>
  <votes>
    <p ng-hide="round.current.total_votes &gt; 0">No one has voted yet! <span ng-show="status.member()">Second some books now, or come back later to check where we're at!</span></p>
  </votes>
</div>

<div class="all-nominations col-lg-6 col-lg-pull-6">
<h3>The Nominations</h3>
<p ng-show="status.member()">Click on any book to second the current genre's selections. If you have extra votes, you can use them after you've voted on a book. Select +Extra Vote to use one of your extras!</p>

<div class="alert alert-info" ng-show="status.member()">
  <p>
    <span ng-show="status.user.extra_votes &gt; 0">You have <strong>{{ status.user.extra_votes }}</strong> extra votes left.</span>
    <span ng-show="status.user.extra_votes === 0">You have no extra votes.</span> Get more by participating in discussions!
    <span class="fa fa-question-circle help" tooltip="You must participate in over 50% of discussions for a given book to earn an extra vote. Extra votes can allow you to give a book you want to read an additional +1."></span>
  </p>
</div>

<ul class="nominations voting">
  <secondingbook ng-repeat="nomination in round.current.nominations | orderBy:'book.title'"
                 nomination="nomination">
  </secondingbook>
</ul>
</div>
</div>
